/* Declaración de variables para los estilos */
:root {
    --background: #1c6819;
    --hover: #D8C3A5;
  }

body {
    margin: 0;

    /* stick footer to bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Empieza barra de navegación */  

  header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* Cambiar el color de las barras de navegación al hacer clic */
  .nav-toggle:checked ~ .nav-toggle-label span,
  .nav-toggle:checked ~ .nav-toggle-label span::before,
  .nav-toggle:checked ~ .nav-toggle-label span::after {
    background: var(--hover);
  }
  
  /* Creación de las tres barras de navegación tipo "burger"*/
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  /* Configuración para posicionar y quitar texto alguno de las barras*/
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  /* Espacio entre barra central y superior */
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  /* Espacio entre barra central e inferior */
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
  /* Posicionamiento de la navegación */
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  
  /* Hace que la navegación se oculte por defecto */
  transform: scale(1, 0);
  transform-origin: top;

  /* Transición suave para el efecto de desplegado de la navegación */
  transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    /* Quita la viñeta de los elementos de la lista */
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    /* Transición suave para el efecto de aparición de los elementos de la navegación */
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: var(--hover);
  }
  
  .nav-toggle:checked ~ nav {
    /* Transforma la navegación a su tamaño completo cuando el botón está seleccionado */
    transform: scale(1,1);
  }
  
  /* Estilos para los links de la navegación cuando el botón está seleccionado */
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  /* Ajusta la posición del logo para que no se 
  sobreponga al botón de navegación en pantallas pequeñas */
  @media screen and (max-width: 422px) {
    .logo {
      margin-left: 55px;
    }
  }
  /* Estilos para pantallas grandes */
  @media screen and (min-width: 920px) {
    .nav-toggle-label {
      display: none;
    }
    
    /* Define un grid con 4 columnas */
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    /* Asigna la segunda columna del grid al logo */
    .logo {
      grid-column: 2 / 3;
    }
    
    nav {
      position: relative;
      text-align: left;
      transition: none; /* Sin transición de cambio */
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      /* Justificación contenido a la derecha
        con elementos centrados verticalmente */
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-bottom: 0;
    }

    /* Genera una fila de dos columnas para mantener 
      la flecha de la lista desplegable alineado con el texto */
    .link-arrow {
      display: inline-grid;
      grid-template-columns: 1fr auto;
    }
    a:hover .arrow-icon path {
      fill: var(--hover);
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    nav a::before {
      content: ''; /* Establece el contenido del elemento a una cadena vacía */
      display: block; 
      height: 2px;
      background: var(--hover);
      position: absolute; 
      /* Distancia desde el borde superior del 
        contenedor al borde superior del elemento */
      top: 1.55em; 
      left: 0; 
      right: 0;
      transform: scale(0, 1); /* Establece la escala del elemento */
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1, 1);
    }
  }
  /* Empieza estilos menú desplegable*/
  
    /* Posicionamiento del contenido del menú desplegable */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Contenido del menú desplegable (Escondido por defecto) */
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 100px;
      z-index: 1;
    }
    
    /* Estilos para los links del menú desplegable */
    .dropdown-content a {
      color: white;
      background-color: var(--background);
      padding: 12px 16px 8px 10px;
      
      display: block;
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: opacity 150ms ease-in-out;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a::before {
      content: '';
      display: block; 
      height: 2px;
      background: var(--hover);
      position: absolute; 
      margin-inline: 5%;
      top: 1.95em;
      left: 0; 
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    .dropdown-content a:hover::before {
      transform: scale(1, 1);
    }

    /* Muestra el menú desplegable cuando se haga "hover" sobre el link correspondiente */
    .dropdown:hover .dropdown-content {display: block;}
    
    @media screen and (max-width: 920px) {
      .dropdown:hover .dropdown-content {
        display: none;
      }
      .dropdown-arrow {
        display: none;
      }
      .arrow-icon {
        display: none;
      }
    }
  /* Termina estilos menú desplegable*/
/* Termina barra de navegación */    
  
main {
    /* stick footer to bottom */
    flex-grow: 1;
}

footer {
    background-color: #1c6819;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.493);
}

footer p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #F4F4F4;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: var(--hover);
}

/* Estilos para la página principal. 
  Imagen de fondo y popup con vínculos
  a las demás páginas */
.main-page {
    position: relative;
    font-size: large;

}

.main-page h1 {
    font-size: xxx-large;
}

.main-page img {
    filter: brightness(100%);
}

.main-content a {
    color: #F4F4F4;
    transition: all 0.3s ease-in-out;
}

.main-content a:hover {
    color: var(--hover);
}

.main-content ul {
    color: white;
}
/* Recuadro oscuro para mejor contraste entre
   imágen de fondo e información */
.main-content {
    position: absolute;
    top: 20vh;
    left: 10vw;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 15px;
    padding: 15px;
}

/* Contenido central con 80% de ancho y 1% de relleno */
.content {
    margin: auto;
    width: 80%;
    padding: 1%;
}

.content img {
    height: 200px;
}

p {
  /* Justificar el texto */
    text-align: justify;
}

.people.page-navigator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    text-align: center;

    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Mostrar contenedores con imágen y 
  texto uno al lado del otro con un ancho 
  máximo de 500 px */
.species-container {
    display: flex;
    flex-wrap: wrap;
}

.species-container .card-container {
    display: flex;
    align-items: center;
    max-width: 500px;
    padding-right: 5%;
}

.species-container .card-container img {
    height: 200px;
}

/* Ajustar el contenido del contenedor description
  para mostrarse como columna */
.species-container .card-container .description {
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.species-container .card-container .description .text {
    flex: 1;
}

/* Muestra los elementos del contenedor general
   en un diseño de columna con el mismo espaciado */
.general-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5%;
}

.general-container .group-img {
    height: 50vh;
}

.general-container .funny-facts {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.general-container .funny-facts .item {
    max-width: 30%;
}

/* Muestra los elementos del contenedor de características
   en un diseño de columna con el mismo espaciado */
.general-container .characteristics-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}

/* Elemento alineado al inicio con padding superior
   e inferior de 2.5% el padre y sus contenidos centrados */
.general-container .characteristics-container .item {
    display: flex;
    justify-self: flex-start;
    justify-items: flex-start;
    align-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}

/* Padding a lado y lado de 5% */
.general-container .characteristics-container .item .text {
    padding-inline: 5%;
    max-width: 700px;
}

/* Los elementos con la clase switch representan 
  un mirror de los que contienen la misma relación de clases */
.general-container .characteristics-container .item.switch {
    align-self: flex-end;
}

.general-container .characteristics-container .item.switch .text {
    order: -1;
    text-align: right;
}

/* Contenedor con elementos alineados en columna */
.turism-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Contenedor con elementos alineados en columna y 
un ancho máximo en píxeles para no perder
la relación de aspecto en pantallas grandes */
.turism-container .characteristics-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}

.turism-container .characteristics-container .item {
    display: flex;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.turism-container .characteristics-container .item .text {
    padding-inline: 2.5%;
    max-width: 700px;
    align-self: flex-start;
}

/* Cuadrícula de cuatro elementos utilizada 
  para crear el efecto de imágenes en diagonal */
.square {
    display: grid;
    grid: 2, 2;
    gap: 10px;
}

.square .item-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.square .item-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.square .item-3 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.square .item-4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.sturism-container .characteristics-container .item .text.switch {
    order: -1;
    text-align: right;
}

/* Clase para ser utilizada en conjunto con .square */
.square.landings {
    gap: 70px !important;
    padding: 50px;
}

/* Cuadricula de dos elementos para crear efecto Card con imágen y texto corto */
.ss-card {
    display: grid;
    grid: 1, 2;
    gap: 10px;
}

.ss-card img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.ss-card .text {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 227px;
}

/* Poner un tamaño fijo para todas las imágenes listadas, 
con el fin de mantener uniformidad. La visualización no es 
estrictamente demandante puesto que se utiliza en las referencias.*/
table img {
    width: 200px;
}

/* Empieza acordeón de créditos*/
.credits-accordion .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.credits-accordion .grid-item {
  position: relative;
}

.credits-accordion .grid-item img {
  max-width: 100%;
  height: auto;
}

.credits-accordion .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.8em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.credits-accordion .grid-item:hover .caption {
  opacity: 1;
}
/* -- */
.credits-accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .credits-accordion {
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  }
  .credits-accordion .accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    background: var(--background);
    color: #fff;
  }
  .credits-accordion .accordion-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.35s;
  }

  .credits-accordion input#tab0:checked ~ .accordion-content0 {
    max-height: fit-content;
    padding: 1em;
  }
  
  .credits-accordion input#tab1:checked ~ .accordion-content1 {
    max-height: fit-content;
    padding: 1em;
  }
  .credits-accordion input#tab2:checked ~ .accordion-content2 {
    max-height: fit-content;
    padding: 1em;
  }
  .credits-accordion input#tab3:checked ~ .accordion-content3 {
    max-height: fit-content;
    padding: 1em;
  }
  .credits-accordion input#tab4:checked ~ .accordion-content4 {
    max-height: fit-content;
    padding: 1em;
  }
  .credits-accordion input#tab5:checked ~ .accordion-content5 {
    max-height: fit-content;
    padding: 1em;
  }
/* Termina acordeón de créditos */